*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}


h3, h2{
  color: white;
}

h3{
  font-size:small;
  font-weight: bolder;
}


/* ****************************
            UTILITY
  *****************************  */
  .row{
    display: flex;
     flex-wrap: wrap; 
     height: 100%;
  }

  .column{
    flex-direction: column;
  }

  .space-between{
    justify-content: space-between;
  }

  .show{
    display: inline-block;
  }

  .hidden{
    display: none;
  }

  .margintop-20{
    margin-top: 20px;
  }
  .margin10{
    margin:10px 0;
  }





  /* ****************************
           UPPER SECTION
  *****************************  */
  #upper{
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
  }

  /* NAV */
  nav{
    width: 50px;
    height: 100%;
    background-color: black;
    color: grey;
  }

  .text, #crea{
    font-size: small;
  }

  .text{
  margin-left: 5px;
  vertical-align: middle;
}

.icon-text{
  margin-top: 5px;
}



.icons, .user{
  width: 100%;
  text-align: center;
   

}

 .icons img,
 .user img {
   width: 25px;
   vertical-align: middle;
  }

  #gray-circle{
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: gray;
    margin-left: 10px;
    border-radius: 50%;
    margin: 20px 0 15px 10px;
  }

  .add{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: grey;
    color: black;
    text-align: center;
    font-size: xx-large;
    line-height: 30px;
    vertical-align: middle;
  }

  .icons ul{
    list-style-type: none;
    height: 25vh;
    overflow-y: auto;

  }

  .icons li{
    line-height: 30px;
    font-size: small;
  }

  hr{
    border: 1px solid grey;
    width: 100%;
  }

 
 

  /* CONTAINER */
  .container{
    width: calc(100% - 50px);
    height: 100%;
    background-color: blueviolet;
    overflow-y: auto;
  }

  /* HEADER */
  header{
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.492);
  }


  /* MAIN */
 
    
/* ****************************
        MAIN   MENU SECTION
  *****************************  */
  

  .main-container{
    width: 100%;
    margin-top: 20px;
  }

  .menu ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     text-align: center; 
    
  }

  .menu li{
    display: inline-block;
    width: calc(100% / 4);
    border: 1px solid black;
    font-size: small;
    margin: 10px 0 10px 0;
    font-weight: bolder;
  }

  
  /* ****************************
      MAIN  RECENTLY SECTION
  *****************************  */
  .recently .col{
    width: calc(100% / 2);
    height: 269px;
    border: 1px solid black;
    background-color: aquamarine;
  }


   /* ****************************
      MAIN  CREATED FOR SECTION
  *****************************  */
  .created-for .col{
    width: calc(100% / 2);
    height: 269px;
    border: 1px solid black;
    background-color: rgb(255, 238, 7);
  }
  

    /* ****************************
      MAIN  POPULAR SECTION
  *****************************  */
  .popular .col{
    width: calc(100% / 2);
    height: 269px;
    border: 1px solid black;
    background-color: rgb(7, 255, 114);
    
  }



   /* ****************************
          FOOTER
  *****************************  */
  footer{
    height: 75px;
    width: 100%;
    background-color: grey;
  }



/* ****************************
        RESPONSIVE SOLUTIONS 
  *****************************  */

  /* TABLET */
  @media screen and (min-width: 576px) {

    .recently .col,
    .popular .col,
    .created-for .col{
        width: calc(100% / 4);
      }

      nav{
        width: 200px;
      }

      .container{
        width: calc(100% - 200px);
      }

      .menu li{
        width: calc(100% / 3);
      }

      .show{
        display:none;
      }

      .hidden{
        display: inline-block;
      }

      .logo img:nth-of-type(2){
        width: 125px;
      }

      .logo{
        margin-bottom: 15px;
      }

      .icons, .user{
        text-align: left;
        padding:10px;
      }

      #gray-circle{
        margin-left: 0;
        display: inline-block;
        vertical-align: middle;
      }

      

    
      
        
       
    
  }
 

  /* DESKTOP */
  @media screen and (min-width: 992px) {

    .recently .col,
    .popular .col,
    .created-for .col{
     width: calc(100% / 6);
    }
    
    .menu li{
        width: calc(100% / 6);
      }

    .menu ul{
        width: 700px;
        margin: 0 auto;
    } 
    
  }





  /* ****************************
          PROVVISORI CLASS
  *****************************  */

  