*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

h3, h2, h1{
  color:white;
}

h3{
  font-size:small;
  font-weight: bolder;
}

h4{
  font-size: xx-small;
}

h5{
  margin-top: 5px;
  font-size: x-small;
}
h5, h4{
   color: gray;
}

/* ****************************
            UTILITY
  *****************************  */
  .row{
     display: flex;
     flex-wrap: wrap; 
     height: 100%;
    }
    
  .column{
    flex-direction: column;
  }

  .space-between{
    justify-content: space-between;
  }

  .show{
    display: inline-block;
  }

  .hidden{
    display: none;
  }

  .margintop-20{
    margin-top: 20px;
  }

  .margin10{
    margin:10px 0;
  }

  .margleft5{
    margin-left: 5px;
  }

  .pad10{
    padding: 10px;
  }

  .relative{
    position: relative;;
  }

  /* ****************************
           UPPER SECTION
  *****************************  */
  #upper{
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
  }

  /* NAV */
  nav{
    width: 50px;
    height: 100%;
    background-color: black;
    color: grey;
  }

  .text, #crea{
    font-size: small;
  }

  .text{
  margin-left: 5px;
  vertical-align: middle;
  }

  .icon-text{
    margin-top: 5px;
  }

  .icons, .user{
    width: 100%;
    text-align: center;
  }

  .logo img:nth-of-type(2){
    filter: opacity(100%);
  }

  .logo img:nth-of-type(1){
    filter: opacity(100%);
  }

 nav img {
   width: 25px;
   vertical-align: middle;
    filter: opacity(40%); 
  }

  #gray-circle{
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: gray;
    margin-left: 10px;
    border-radius: 50%;
    margin: 20px 0 15px 10px;
  }

  .add{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: grey;
    color: black;
    text-align: center;
    font-size: xx-large;
    line-height: 30px;
    vertical-align: middle;
  }

  .icons ul{
    list-style-type: none;
    height: 25vh;
    overflow-y: auto;
  }

  .icons li{
    line-height: 30px;
    font-size: small;
  }

  hr{
    border: 1px solid grey;
    width: 100%;
  }


  /* CONTAINER */
  .container{
    width: calc(100% - 50px);
    height: 100%;
    background-color: rgb(7, 19, 39);
    overflow-y: auto;
  }


  /* HEADER */
  header .row{
    justify-content: end;
    align-items: center; 
  }

  header{
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.492);
  }

  #upgrade{
    padding: 10px 50px;
    border-radius: 40px;
    border-color: white;
    background-color: rgba(240, 255, 255, 0);
    color: white; 
  }

  
/* ****************************
        MAIN  
  *****************************  */
  main .row{
    gap: 10px;
  }

  main h3{
    margin-top: 10px;
  }

  main img{
    width: 100%;
  }

  main .col{
  width: calc(100% / 2 - 10px);
  margin-top: 20px;
  text-align: center;
  }

  .main-container{
    width: 100%;
    margin-top: 20px;
  }

  .menu ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
     justify-content: center;  
     text-align: center; 
  }

  .menu li{
    display: inline-block;
    width: calc(100% / 4);
    font-size: x-small;
    margin: 10px 0 10px 0;
    font-weight: bolder;
    color: grey;
  }

   .backgroundhover{
   display: block;
    background-color: rgba(0, 0, 0, 0.715);
    position: absolute; 
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   height: 100%;  
   }

   .backgroundhover i{
    font-size: 50px;
   }

    /*  MAIN  POPULAR SECTION*/

  .popular img,
  .popular .backgroundhover{
    border-radius: 50%;
  }

   /* ****************************
          FOOTER
  *****************************  */
  footer{
    height: 75px;
    width: 100%;
    background-color: rgb(39, 39, 39);
  }

  footer .row{
    justify-content: space-between;
    align-items: center;
  }

  .player{
    align-items: center;
    display: flex;
    align-items: center;
  }

  footer img{
    width: 40px;
  }

  .player:nth-of-type(2){
    flex-direction: column;
  }

  .player i{
    margin: 10px 0 10px 10px;
  }

  .player:nth-of-type(2) i{
  margin: 15px ;
  }

  .player:last-of-type i{
    margin: 5px;
  }

  .line,
  .volume{
    display: inline-block;  
  }

 .line #one{
    width: 10vw;
    border: 1px solid white;
  }

  .line #two{
    width: 20vw;
  }

  .volume #first{
    width: 3vw;
    border: 1px solid white;

  }
  .volume #second{
    width: 7vw;
  }

  .whitecircle{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    display: none; 
  }
  
  .relative{
    position: relative;
  }

  .player.player:nth-of-type(2) h4{
    color: white;
    margin: 5px;
  }

  .reverse{
    flex-direction: column-reverse; 
     display: flex;
   }

   .preferiti i{
    color: grey;
   }
   
 
  /***********************
          HOVER 
  ************************ */
  .play{
    display: none;
  }

  .no-play{
    display: block;
  }

  .copertina:hover .play{
  display: block;
  }

  .copertina:hover .no-play{
    display: none;
  }

  .icon-text:hover,
  li:hover{
    color: white;
  }

  .crea-playlist:hover .add{
    background-color: white;
  }

  #download:hover span,
  #download:hover img:first-of-type,
  .icon-text:hover img,
  #download img:first-of-type:hover,
  .crea-playlist:hover span
  {
    color: white;
    filter: opacity(100%);
  }

  #upgrade:hover{
    padding:15px 55px;
  }

  .preferiti i:hover{
    color: white;
  }
 
  #time:hover .whitecircle,
  #volume:hover .whitecircle{
    display: inline-block;
  }

  #time:hover #one,
  #volume:hover #first{
    border: 2px solid greenyellow;
  }

  .player:nth-of-type(2) i:hover{
    font-size: x-large;
  }
  



/* ****************************
        RESPONSIVE SOLUTIONS 
  *****************************  */

  /* TABLET */
  @media screen and (min-width: 576px) {

      main .col{
         width: calc(100% / 4 - 10px );
      }

      nav{
        width: 200px;
      }

      .pad20{
        padding: 20px 20px 5px 20px;
      }
    

      .container{
        width: calc(100% - 200px);
      }

      .menu li{
        width: calc(100% / 3);
      }

      .show{
        display:none;
      }

      .hidden{
        display: inline-block;
      }

      .logo img:nth-of-type(2){
        width: 125px;
      }

      .logo{
        margin-bottom: 15px;
      }

      .icons, .user{
        text-align: left;
      }

      #gray-circle{
        margin-left: 0;
        display: inline-block;
        vertical-align: middle;
      }

      .preferiti{
        display: inline-block;
      }
      .reverse{
        flex-direction: row; 
      }
  }
 

  /* DESKTOP */
  @media screen and (min-width: 992px) {

   main .col{
     width: calc(100% / 6 - 10px);
    }
    
    .menu li{
        width: calc(100% / 6);
      }

    .menu ul{
        width: 600px;
        margin: 0 auto;
    } 

  }