*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Montserrat', sans-serif;
}


h3, h2, h1{
  color: white;
}

h3{
  font-size:small;
  font-weight: bolder;
}
h4{
  font-size: xx-small;
}

h5{
  color: gray;
  margin-top: 5px;
}


/* ****************************
            UTILITY
  *****************************  */
  .row{
     display: flex;
     flex-wrap: wrap; 
     height: 100%;
  }

  .column{
    flex-direction: column;
  }

  .space-between{
    justify-content: space-between;
  }

  .show{
    display: inline-block;
  }

  .hidden{
    display: none;
  }

  .margintop-20{
    margin-top: 20px;
  }
  .margin10{
    margin:10px 0;
  }
  .margleft5{
    margin-left: 5px;
  }

  .pad10{
    padding: 10px;
  }

 .col{
  margin-top: 20px;
 

 }

  



  /* ****************************
           UPPER SECTION
  *****************************  */
  #upper{
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
  }

  /* NAV */
  nav{
    width: 50px;
    height: 100%;
    background-color: black;
    color: grey;
  }

  .text, #crea{
    font-size: small;
  }

  .text{
  margin-left: 5px;
  vertical-align: middle;
}

.icon-text{
  margin-top: 5px;
}



.icons, .user{
  width: 100%;
  text-align: center;
   

}

 .icons img,
 .user img {
   width: 25px;
   vertical-align: middle;
  }

  #gray-circle{
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: gray;
    margin-left: 10px;
    border-radius: 50%;
    margin: 20px 0 15px 10px;
  }

  .add{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: grey;
    color: black;
    text-align: center;
    font-size: xx-large;
    line-height: 30px;
    vertical-align: middle;
  }

  .icons ul{
    list-style-type: none;
    height: 25vh;
    overflow-y: auto;

  }

  .icons li{
    line-height: 30px;
    font-size: small;
  }

  hr{
    border: 1px solid grey;
    width: 100%;
  }

 
 

  /* CONTAINER */
  .container{
    width: calc(100% - 50px);
    height: 100%;
    background-color: rgb(7, 19, 39);
    overflow-y: auto;
  }

  /* HEADER */
  header .row{
    justify-content: end;
    align-items: center;
    
  }
  header{
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.492);
  }

  #upgrade{
    padding: 10px 50px;
    border-radius: 40px;
    border-color: white;
    background-color: rgba(240, 255, 255, 0);
    color: white;
    
  }


  /* MAIN */
 
    
/* ****************************
        MAIN   MENU SECTION
  *****************************  */
  

  .main-container{
    width: 100%;
    margin-top: 20px;
  }

  .menu ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
     justify-content: center;  
     text-align: center;  
    
  }

  .menu li{
    display: inline-block;
    width: calc(100% / 4);
    font-size: small;
    margin: 10px 0 10px 0;
    font-weight: bolder;
    color: grey;
  }

  
  /* ****************************
      MAIN  RECENTLY SECTION
  *****************************  */ 
  
  main img{
    width: 100%;
  }

  .recently .col{
    width: calc(100% / 2);
    height: 269px;
    border: 1px solid black;
    background-color: aquamarine;
  }


  .relative{
    position: relative;;
  }

  .play{
    display: none;
  }
  .no-play{
    display: block;
  }
  .copertina:hover .play{
  display: block;
  }
  .copertina:hover .no-play{
    display: none;
  }

   .backgroundhover{
   display: block;
    background-color: rgba(0, 0, 0, 0.715);
    position: absolute; 
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
   }

   .backgroundhover i{
    font-size: 50px;
   }

   /* ****************************
      MAIN  CREATED FOR SECTION
  *****************************  */
  .created-for .col{
    width: calc(100% / 2);
    height: 269px;
    border: 1px solid black;
    background-color: rgb(255, 238, 7);
  }
  

    /* ****************************
      MAIN  POPULAR SECTION
  *****************************  */
  .popular .col{
    width: calc(100% / 2);
    height: 269px;
    border: 1px solid black;
    background-color: rgb(7, 255, 114);
  }

  .popular img,
  .popular .backgroundhover{
    border-radius: 50%;
  }



   /* ****************************
          FOOTER
  *****************************  */
  footer{
    height: 75px;
    width: 100%;
    background-color: rgb(39, 39, 39);
  }

 
  footer .row{
    justify-content: space-between;
    align-items: center;
  }

  .player{
    align-items: center;
    display: flex;
    align-items: center;

  }

  footer img{
    width: 40px;
  }

  .player:nth-of-type(2){
    flex-direction: column;
  }

  .player i{
    margin: 10px;
  }

  .player:last-of-type i{
    margin: 5px;
  }


  .line,
  .volume{
    display: inline-block;
    
  }
 .line #one{
    width: 10vw;
    border: 1px solid white;
  }
  .line #two{
    width: 20vw;
  }

  .volume #first{
    width: 3vw;
    border: 1px solid white;

  }
  .volume #second{
    width: 7vw;
  }

  .whitecircle{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
   
  }
  
  .relative{
    position: relative;
  }

/* ****************************
        RESPONSIVE SOLUTIONS 
  *****************************  */

  /* TABLET */
  @media screen and (min-width: 576px) {

    .recently .col,
    .popular .col,
    .created-for .col{
        width: calc(100% / 4);
      }

      nav{
        width: 200px;
      }

      .pad20{
        padding: 20px 20px 5px 20px;
      }
    

      .container{
        width: calc(100% - 200px);
      }

      .menu li{
        width: calc(100% / 3);
      }

      .show{
        display:none;
      }

      .hidden{
        display: inline-block;
      }

      .logo img:nth-of-type(2){
        width: 125px;
      }

      .logo{
        margin-bottom: 15px;
      }

      .icons, .user{
        text-align: left;
      }

      #gray-circle{
        margin-left: 0;
        display: inline-block;
        vertical-align: middle;
      }

      

    
      
        
       
    
  }
 

  /* DESKTOP */
  @media screen and (min-width: 992px) {

    .recently .col,
    .popular .col,
    .created-for .col{
     width: calc(100% / 6);
    }
    
    .menu li{
        width: calc(100% / 6);
      }

    .menu ul{
        width: 800px;
        margin: 0 auto;
    } 
    
  }





  /* ****************************
          PROVVISORI CLASS
  *****************************  */

  